# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
.derivedData/

# macOS
.DS_Store

# Distribution Artifacts
dist/
